
.profile{
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: #ffff;
}

  .bobcapa{
    width: 100%;
    height: 30vh;
  }
  
  .navbar{
    position:absolute;
  }

  .logo-emakers{
    height: 9vh;
    margin-left: 1em;
  }

  .name-profile{
    margin-right: 27%;
    margin-top: 0;
    font-size: 3em;
  }

  .fotoperfil{
    width: 20vw;
    height: 30vh;
    border-radius: 50%;
    position: absolute;
    top: 20%; 
    left: 2%;
    z-index: 1;
  }

  .bio-profile{
    margin-right: 38%;
    margin-top: -2em;
  }